/* 
} */

/* .main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.container {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.main{
  height: 100vh;
  width: 192vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  background-image: url(/assets/register-bg.jpg);
  box-sizing: border-box;
  /* border: 2px red solid; */
}

.content{
  margin:auto;
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 2px green solid; */
}

.tittle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 180.5%;
  color: rgb(242, 242, 33);
  align-items: center;
  text-shadow: 3px 3px #6666;
  /* border: 2px red solid */
}


.subtittle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 208.5%;
  color: rgb(242, 242, 33);
  align-items: center;
  margin-bottom : 30px;
  /* border: 2px red solid */
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
