.regis{
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/register-bg.jpg);
  margin: 0;
  padding: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {

  width: 35rem;
  padding: 40px;
  text-align: center;
  background-color: rgba(34, 34, 34, 0.8);
  border-radius: 10%;
  border:3px #888 solid;
  box-sizing: border-box;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
  margin: 0px;
}

.input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
  box-sizing: border-box;
}

.button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #0f0c29;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

.see-password {
  position: absolute;
  margin-left: 12px;
}

.h4{
  margin:15px
}