.mainFooter{
    height: 10rem;
    width: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #444;
    border: 3px #888 solid;
    border-radius: 20px;
    font-family: "Source Sans Pro", sans-serif;
}

